package templates

templ Hello(name string) {
  <head>
		<title>tasks</title>
		<link rel="stylesheet" href="/internal/output.css"></link>
	</head>
    <h1 class="bg-[#ccd6f6]">{ name }</h1>
    <div class="bg-yellow-50 font-mono">alsdkjfaskl;dja</div>
}